{% extends "base_otp.html" %}
{% block page_title %}Recover Password{% endblock %}
{% block form_fields %}
{{ super() }}
<div class="form-floating mb-3"> 
    {{ form.password(class="form-control", id="floatingPassword", placeholder="New Password") }}
    {{ form.password.label}}
</div>
<div class="form-floating mb-3"> 
    {{ form.confirm_password(class="form-control", id="floatingConfirmPassword", placeholder="Confirm New Password") }}
    {{ form.confirm_password.label}}
</div>
{% endblock %}