{% include "header.html" %}
{% from "bootstrap5/form.html" import render_form %}
{% block content %}
<main class="form-signin w-100 m-auto">

    <form id="profile" method="post" enctype="multipart/form-data" novalidate="True">
        <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
        
        <img class="rounded" src="" alt="Profile Picture">
        
        <div class="mb-3">
            <label for="profilePicture" class="form-label">Upload Profile Picture</label>
            <input class="form-control" type="file" id="profilePicture" name="profilePicture" accept="image/*">
        </div>
        
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
            <div class="alert alert-{{ category }} alert-dismissible fade show " role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endfor %}
        {% endif %}
        {% endwith %}
        
        <div class="form-floating">
            <input type="Gender" class="form-control" id="floatingInput" placeholder="Gender" name="Gender">
            <label for="floatingInput">Gender</label>
        </div>

        <div class="form-floating">
          <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="password">
          <label for="floatingPassword">Password</label>
        </div>

        <div class="cf-turnstile" data-sitekey="{{ site_key }}"></div>
      
        <button class="btn btn-primary w-100 py-2" type="submit">Set Up The Profile</button>
    </form>
</main>
{% endblock %}