{% include "header.html" %}

{% from "bootstrap5/form.html" import render_form %} 
{% block content %}


<div class="container my-5">
  <div class="shadow p-3 mb-5 bg-body-tertiary rounded d-flex flex-column flex-md-row justify-content-between align-items-center">

<main class="mb-4 ms-md-3">

    <div class="container">
      <div class="row justify-content-end">
        <div class="col-lg-8 col-md-10">
          <h2 class="text-primary mb-5">Recover Password</h2>
          
          {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
              {% for category, message in messages %}
                <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                  {{ message }}
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
        
              {% endfor %}
            {% endif %}
          {% endwith %}

          <form method="POST" action="">
            {{ form.hidden_tag() }}
            {{ render_form(form, novalidate=True, button_map={"submit": "primary"}) }}
          </form>
        </div>
      </div>
    </div>
  </main>


</div>
</div>


{% include "footer.html" %}
{% endblock %}