{% include "header.html" %}
{% from "bootstrap5/form.html" import render_form %} 
{% block content %}

<main class="form-signin w-100 m-auto">
    <form method="post" novalidate="True">
      <h1 class="h3 mb-3 fw-normal">Two Factor Authentication</h1>
  
      <div class="form-floating">
        <input type="OTP" class="form-control" id="floatingInput" placeholder="name@example.com" name="OTP">
        <label for="floatingInput">OTP</label>
      </div>
      <button class="btn btn-primary w-100 py-2" type="submit">Submit</button>
    </form>
  </main>
{% endblock %} 