{% include "header.html" %}
{% from "bootstrap5/form.html" import render_form %} 
{% block content %}

<main class="form-signin w-100 m-auto">
    <form method="post" novalidate="True">
      <img class="mb-4" src="/docs/5.3/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57">
      <h1 class="h3 mb-3 fw-normal">Two Factor Authentication</h1>
  
      <div class="form-floating">
        <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" name="email">
        <label for="floatingInput">Email address</label>
      </div>
      <button class="btn btn-primary w-100 py-2" type="submit">Submit</button>
    </form>
  </main>
{% endblock %}  